* {
    box-sizing: border-box;
}
/*El body el vaig flex per poder encaixar tot bé*/
body {
    justify-content: center;
    background-color: #F1FADA;
    margin: 0;

}
body::before {
    /* Esto es para crear una capa transparente oscura que ocupe toda la pantalla,
    la situo en una capa z -1 para que no se vea, la sacaré solo cuando se invoque el menu lateral. */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}
/*media query per mobils, tablets, etc*/
@media only screen and (max-width: 1000px) {
    .flex {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-flow: column;
    }
    img {
        max-width: 50vw;
    }
    header {
        flex: 100%;
        display: flex;
        flex-flow: column;
        background-color: #2D9596;
        padding: 20px;
        align-items: center;
        flex-basis: content;
        order: 0;
        
    }
    main {
        order: 1;
        flex: 100%;
    }
    nav {
        flex: 60%;
    }
    .fila {
        flex-wrap: wrap;
    }
    .fila * {
        width: 100%;
    }
}
/*Per portatils i ordinadors*/
@media only screen and (min-width: 1001px) {
    .flex {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        z-index: 0;
    }    
    img {
        width: 100%;
        max-width: max-content;
        height: max-content;
    } /*per fer-la responsive y s'escali sempre a la seva proporció però sense superar el tamany original*/

    main {
        order: 1;
        flex: 60%;
    }
    header {
        /*area logo web*/
        display: flex;
        flex-flow: column;
        background-color: #2D9596;
        padding: 20px;
        flex: 20%;
        order: 3;
        max-width: 305px;
    }
    nav {
        height: 100%;
        max-height: 500px;
    }
    .fila :first-child {
        width: 25%;
    }
    .fila :last-child {
        width: 75%;
        padding: 12px;
    }
}
.cruz {
    position: absolute;
    top: 5%;
    right: 10%;    
    font-size: 3rem;
    font-weight: 900;
}
.separador {
    width: 100%;
    height: 0px;
    border: 2px black solid;
}
header h1 { /*titol logo*/
    font-family: sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #f2f2f2;
}

nav ul {
    padding: 0;
    display: flex;
    list-style: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav li {
    padding: 20px;
    display: inline;
    background-color: #9AD0C2;
    border-radius: 30px;
    font-family: cursive;
    font-weight: bold;
}
nav li:hover {
    background-color: #FF407D;
    color: white;
}
nav a {

    text-decoration: none;
    color: black;
    font-weight: bold;
}
.precursor-menu {
    position: fixed;
    left: 10px;
    top: 10px;
}
.menu {
    padding: 1%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30vw;
    background-color: #2D9596;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.enseñar {
    display: flex;
}

.titulo {
    /*titol de cada pagina*/
    font-family: Lucida Console;
    color: white;
    text-decoration: underline;
    align-self: center;
}

main {
    /*area central de la web*/
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    text-align: justify;
    color: black;

}
.cont-img {
    /*contenedor flex d'imatges*/
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.cont-img img {
    padding: 10px;
}
aside {
    /*area Panel dret per posar un anunci graciós*/
    text-align: center;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0 10px 0 10px;
}
footer {
    /*area credits*/
    background-color: #265073;
    text-align: center;
    color: white;
    padding: 10px;
    flex: 100%;
    order: 3;

}
footer a{
    color: white;
}
video { /*video responsive*/
    max-width: 100%;
    height: auto;
}
img {/*el faig blocks perque vull que ocupin tota la linea*/
    display: block;
    text-align: center;
}
div#form-email {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    width: 80%;
    height: 80%;
}
form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.fila {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12px;
}
.fila :last-child {
    padding: 12px;
}
.botones {
    align-self: end;
    display: flex;
    width: 75%;
    justify-content: space-around;
    margin-top: 10px;
}
.botones * {
    width: 25%;
    padding: 12px;
}
input {
    border-radius: 4px;
    border-color: #ccc;
}
textarea {
    height: 140px;
    resize: none;
    border-radius: 4px;
    border-color: #ccc;
}
